<ul class="list-group boards-index">


<form class="add-board-button form-inline list-group-item">
  <input class="add-board form-control"
         type="text"
         name="board[title]"
         placeholder="Organization Topic... ">
  <input type="submit" class="btn btn-primary" value="Add Board">
</form>

</ul>
